---
layout: default
title: Michael Shogren's Blog
---
<div class="col-xs-12 col-sm-8 main-content">
  <h1>{{ page.title }}</h1>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <article>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
    </p>
    <div class="content">
      {% if post.content contains '<!--excerpt.start-->' and post.content contains '<!--excerpt.end-->' %}
        <div class="excerpt">
          {{ post.content | split:'<!--excerpt.start-->' | last | split: '<!--excerpt.end-->' | first }}
        </div>
        <p><a href="{{ post.url }}">Read more</a></p>
      {% else %}
        {{ post.excerpt }}
      {% endif %}
      <p><a href="{{ post.url }}#comments">{{ site.data.comments[post.slug] | size | append: ' Comments' }}</a></p>
    </div>
  </article>
{% endfor %}

  <!-- Pagination links -->
  <nav>
    <ul class="pager">
      {% if paginator.next_page %}
        <li class="previous"><a href="{{ paginator.next_page_path }}"><span aria-hidden="true">&larr;</span> Older</a></li>
      {% endif %}
      {% if paginator.previous_page %}
        <li class="next"><a href="{{ paginator.previous_page_path }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {% endif %}
    </ul>
  </nav>
</div>
<div class="col-xs-12 col-sm-4">
  <div>
    <h3>Popular Posts</h3>
    {% capture scoredids %}
      {% for post in site.posts %}
        {{ site.data.comments[post.slug] | size | plus: 1000 }}#{{ post.id }}
      {% endfor %}
    {% endcapture %}
    {% assign sortedscoredids = scoredids | split:' ' | sort | reverse %}
    {% for scoredid in sortedscoredids limit: 3  %}
      {% assign id = scoredid | split: '#' | last %}
      {% assign post = site.posts | where: "id", id | first %}
      <div>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <div class="excerpt"><p>
          {% if post.content contains '<!--excerpt.start-->' and post.content contains '<!--excerpt.end-->' %}
            {{ post.content | split:'<!--excerpt.start-->' | last | split: '<!--excerpt.end-->' | first | strip_html | strip_newlines | remove:  "	" | escape | remove: "\" | truncatewords: 75 }}
          {% else %}
            {{ post.content | strip_html | strip_newlines | remove:  "	" | escape | remove: "\" | truncatewords: 75 }}
          {% endif %}
        </p></div>
        <a href="{{ post.url }}#comments">{{ site.data.comments[post.slug] | size | append: ' Comments' }}</a>
      </div>
    {% endfor %}
  </div>
</div>
